/*
Theme Name:Joe McGill Test
Theme URI: http://example.com/
Description: Child theme for the Twenty Thirteen theme
Author: Joe McGill
Author URI: http://example.com/about/
Template:  twentythirteen
Version: 0.1.0
*/

@import url("../twentythirteen/style.css");

html {
	font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: Open Sans, Helvetica, Arial;
	line-height: 1.3;
}
